div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}
#red{
  border-top-color: #f00;
  width: 520px;
  height: 604px;
  border: 20px solid red;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#orange{
  border-top-color: #ffa500;
  width: 500px; 
  height: 594px; 
  border: 20px solid orange;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 60px; 
  left: 50%;
  transform: translateX(-50%);
}
#yellow{
  border-top-color:#ff0;
  width: 480px; 
  height: 584px; 
  border: 20px solid #ff0;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 70px; 
  left: 50%;
  transform: translateX(-50%);
}
#green{
 border-top-color:#00bc3f;
 width: 460px; 
  height: 574px; 
  border: 20px solid #00bc3f;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 80px; 
  left: 50%;
  transform: translateX(-50%);
}
#blue{
  border-top-color: #06f;
  width: 440px; 
  height: 564px; 
  border: 20px solid #06f;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 90px; 
  left: 50%;
  transform: translateX(-50%);
}
#indigo{
  border-top-color:#8a2be2;
  width: 420px; 
  height: 554px; 
  border: 20px solid#8a2be2;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 100px; 
  left: 50%;
  transform: translateX(-50%);
}
#violet{
  border-top-color:#d300c9;
  width: 400px; 
  height: 544px; 
  border: 20px solid#d300c9;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 110px; 
  left: 50%;
  transform: translateX(-50%);
}